/* Navigation Bar */

#navbar {
    flex-direction: column;
    padding-bottom: 8px;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 12px;
}

/* Home Section */

#home {
    height: 355px;
    padding: 3px 30px;
}

#home::before {
    height: 480px;
}

#home p {
    font-size: 1.2rem;
}

/* Service Section */


#services {
    flex-direction: column;
}

#services .box {
    padding: 8px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

#services .box img {
    width: 125px;
    height: 95.58px;
}

/* Client Section */

#clients {
    flex-wrap: wrap;
}

#clients img {
    height: 30px;

    padding: 4pxpx;
}

/* Contact Section */

#contact-box form {
    width: 80%;
}

/* Utility Classes */

.h-primary {
    font-size: 30px;
    padding-top: 35px;
}

.h-secondary {
    font-size: 22px;
}

.btn {
    font-size: 15px;
    padding: 4px 8px;
}